files:
  "/tmp/pipInstallation.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #! /bin/bash
      source /opt/python/run/venv/bin/activate
        pip install aniso8601==9.0.1
        pip install attrs==22.1.0
        pip install click==8.1.3
        pip install exceptiongroup==1.0.4
        pip install flask==2.2.2
        pip install flask-restful==0.3.9
        pip install iniconfig==1.1.1
        pip install itsdangerous==2.1.2
        pip install jinja2==3.1.2
        pip install joblib==1.2.0
        pip install markupsafe==2.1.1
        pip install numpy==1.23.5
        pip install packaging==21.3
        pip install pluggy==1.0.0
        pip install pyparsing==3.0.9
        pip install pytest==7.2.0
        pip install pytz==2022.6
        pip install scikit-learn==1.1.3
        pip install scipy==1.9.3
        pip install threadpoolctl==3.1.0
        pip install tomli==2.0.1
        pip install werkzeug==2.2.2

commands:
  01_execute:
    command: "/tmp/pipInstallation.sh"